<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>jQuery Autocomplete入门示例</title>
    <!-- 引入jQuery UI的css文件 -->
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-darkness/jquery-ui.css" />
    <!-- 引入jQuery的js文件 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" ></script>
    <!-- 引入jQuery UI的js文件 -->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js" ></script>
</head>
<body>

<label for="language">请输入指定的语言：</label>
<input id="language" name="language" type="text">
</body>
<script type="text/javascript">
    $("#language").autocomplete({
        // 静态的数据源
        source: [
            { label: "Chinese", value: 1, sayHi: "你好" },
            { label: "English", value: 2, sayHi: "Hello" },
            { label: "Spanish", value: 3, sayHi: "Hola" },
            { label: "Russian", value: 4, sayHi: "Привет" },
            { label: "French", value: 5, sayHi: "Bonjour" },
            { label: "Japanese", value: 6, sayHi: "こんにちは" },
        ],
        select: function(event, ui){
            // 这里的this指向当前输入框的DOM元素
            // event参数是事件对象
            // ui对象只有一个item属性，对应数据源中被选中的对象
            $(this).value = ui.item.label;
            $("#lang_id").val( ui.item.value );
            $("#sayHi").html( ui.item.sayHi );

            // 必须阻止事件的默认行为，否则autocomplete默认会把ui.item.value设为输入框的value值
            event.preventDefault();
        }
    });
</script>
</html>