.carinfo-wrapper {
  color: #333333;
  font-size: 13px;
  .car-box {
    background-color: #FFFFFF;
    margin-top: 15px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    .car-img {
      @w:65px;
      .size(@w,@w);
      margin-right: 10px;
      flex-basis: @w;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .car-name {
      flex: 1;
      .txt-ellipsis-p(1);
    }
  }
  .info-item {
    background-color: #fff;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    text-decoration: none;
    .title-box {
      margin-right: 10px;
    }
    .cat-input {
      border: none;
      height: 94%;
      flex: 1;
    }
    .add-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      @w:48px*0.5;
      @h:36px*0.5;
      flex-basis: @w;
      height: 100%;
      .add-img {
        .size(@w,@h);
        background: url("../../images/mycar/camera.png") no-repeat;
        background-size: @w,@h;
      }
    }
    &.load-box {
      color: #a8a8a8;
      .load-more {
        margin: 0 auto;
      }
      .icon-down {

      }
    }
  }
  .border {
    border-bottom: 1px solid #dfdfdf;
  }
}