<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加油赞{$title}活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link href="../../Content/style/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../../Content/style/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper activity2_5-wrapper hide">

    <div class="activity-box">
        <div class="time-box">
            <span class="date"></span>
            <span class="time"></span>
        </div>

        <a class="item-box" href="javascript:void(0)">
            <div class="info-banner">
                <img src="../../Content/images/v2.5/home/banner.png" />
            </div>
            <div class="info-title">全年专享</div>
            <ul class="info-count">
                <li>
                <span class="li-img">
                    <img src="../../Content/images/v2.5/home/discount.png" />
                </span>
                    <span class="li-txt">加油满100减2加油满100减2加油满100减2</span>
                </li>
                <li>
                <span class="li-img">
                    <img src="../../Content/images/v2.5/home/cheap.png" />
                </span>
                    <span class="li-txt">加油满100减2</span>
                </li>
                <li>
                <span class="li-img">
                    <img src="../../Content/images/v2.5/home/save.png" />
                </span>
                    <span class="li-txt">加油满100减2</span>
                </li>
            </ul>
            <div class="tip-more">
                <span class="tip-txt">查看更多特权</span>
                <span class="iconfont icon-right"></span>
            </div>
        </a>
    </div>




    <!--防止刚进入页面时，在token数据未加载，点击菜单栏导致错误。加上蒙板-->
    <div class="modal-box" id="cover-box"></div>

</div>

<script>
    window.urlObject= {
        js: "__JS__",
        css: "__STYLE__",
        image: "__IMG__",
        json: "__JSON__",
        ctrl:'__CTRL__',
        apiUrl:'__API__',
        appid:'__WX_AppID__',
        redirectUrl:'__WX_RedirectUrl__'
    };
</script>
<script data-main="../../Javascript/app/main/v2.5/activity" src="../../Javascript/libs/require.js" type="text/javascript"></script>
</body>
</html>