<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加油赞{$title}活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link href="../../Content/style/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../../Content/style/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper privilegeorder2-wrapper">
    <!--<div class="vip-card">-->
        <!--<a class="vip-card-ad border click" href="/index.php/Src/index/privilege">-->
            <!--<img src="../../Content/images/home/crown2.png">-->
            <!--<div class="vip-middle-box">-->
                <!--<label>会员</label>-->
                <!--<label class="red">"加油98折"</label>-->
                <!--<label>加入特权会员，一年</label>-->
                <!--<label class="red">省600元</label>-->
            <!--</div>-->
            <!--<span class="iconfont icon-right"></span>-->
        <!--</a>-->
    <!--</div>-->

    <ul class="station-main">
        <li class="station-item station-item-first">
            <div class="station-detail">
                <div class="left-box">
                    <div class="name-box">
                        <div class="station-name">中石油双港武汉加油站</div>
                    </div>
                    <div class="station-address">武汉市</div>
                </div>
                <a href="'+item.navigation+'"class="right-box">
                        <div class="distance">4.93km</div>
                </a>
            </div>
            <div class="station-section">
                <div class="section-item left">
                    <img src="../../Content/images/home/pay.png">
                    <span>支付</span>
                </div>
                <div class="section-item right">
                    <span class="iconfont icon-navigation"></span>
                    <span>支付</span>
                </div>
            </div>
        </li>
    </ul>

    <div class="pick-item">
        <div class="pick-btn checked">
            <div class="pick-chose ">
                <span></span>
            </div>
        </div>
        <div class="txt">是否享受接送车服务</div>
    </div>

    <ul class="place-wrapper">
        <li class="place-select">
            <label>
                <span class="icon"></span>
                <select name="" id="select-plac" class="select">
                    <option value="">武汉市</option>
                </select>
            </label>
        </li>
        <li class="place-select">
            <label>
                <span class="icon"></span>
                <select name="" id="select-plac" class="select">
                    <option value="">武汉市</option>
                </select>
            </label>
        </li>
        <li class="place-select">
            <label>
                <span class="icon"></span>
                <select name="" id="select-plac" class="select">
                    <option value="">武汉市</option>
                </select>
            </label>
        </li>
    </ul>
</div>
</body>
<script>
    window.urlObject= {
        js: "__JS__",
        css: "__STYLE__",
        image: "__IMG__",
        json: "__JSON__",
        ctrl:'__CTRL__',
        apiUrl:'__API__',
        appid:'__WX_AppID__',
        redirectUrl:'__WX_RedirectUrl__'
    };
</script>
</html>