<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加油赞{$title}完善车辆信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link href="../Content/style/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../Content/style/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper carinfo-wrapper">
    <div class="car-box border">
        <img class="car-img" src="../Content/images/my/car.jpg" />
        <div class="car-name">奥迪A8 车辆名称</div>
    </div>
    <div class="info-item border">
        <div class="title-input">车牌号码：</div>
        <input class="car-input" placeholder="请输入车牌号"/>
        <a class="license-add" href="__CTRL__/carlicense" ><span class="add-box"><span class="add-img"></span></span></a>
    </div>

    <div class="title none">爱车保养需要完善以下信息（选填）</div>
    <div class="info-item border none">
        <div class="title-box">车型：</div>
        <span class="iconfont icon-right"></span>
    </div>
    <div class="info-item border none">
        <div class="title-box">上路时间：</div>
        <span class="iconfont icon-right"></span>
    </div>
    <div class="info-item none">
        <div class="title-input">行驶里程：</div>
        <input class="car-input right" placeholder="请输入当前里程数" type="number"/>
        <span>km</span>
    </div>

    <div class="title none">违章需完善以下信息（选填）</div>
    <div class="info-item border none">
        <div class="title-input">查询城市：</div>
        <input class="car-input" />
        <span class="iconfont icon-right"></span>
    </div>
    <div class="info-item border none">
        <div class="title-box">车架号：</div>
        <input class="car-input right" placeholder="请输入完整的车架号"/>
        <span class="icon-help"></span>
    </div>
    <div class="info-item none">
        <div class="title-input">发动机号：</div>
        <input class="car-input right" placeholder="请输入完整的发动机号"/>
        <span class="icon-help"></span>
    </div>

    <div class="info-item margin none">
        <div class="title-input">注册时间：</div>
        <input class="car-input right" placeholder="用于提醒年检"/>
        <span class="iconfont icon-right"></span>
    </div>

    <div class="info-item load-box">
        <div class="load-more">
            展开完善我的车辆信息
            <span class="iconfont icon-right down"></span>
        </div>
    </div>

    <div class="save-btn nouse">
        <span>保存</span>
    </div>

    <!--弹窗-->
    <div class="help-box">
        <div class="container">
            <div class="help-img">
                <img src="../Content/images/mycar/passport.png" />
                <span class="angle top-left"></span>
                <span class="angle top-right"></span>
                <span class="angle bottom-left"></span>
                <span class="angle bottom-right"></span>
            </div>
            <div class="confirm"><span>确定</span></div>
        </div>
    </div>

</div>
<script>
    window.urlObject= {
        js: "__JS__",
        css: "__STYLE__",
        image: "__IMG__",
        json: "__JSON__",
        ctrl:'__CTRL__',
        apiUrl:'__API__',
        appid:'__WX_AppID__',
        redirectUrl:'__WX_RedirectUrl__',
    };
</script>
<script data-main="../Javascript/app/main/carinfo" src="../Javascript/libs/require.js" type="text/javascript"></script>
<!--<script type="application/javascript" src="../Javascript/app/controller/c-carinfo.js" />-->
</body>