<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加油赞{$title}驾驶证详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Resource-type" content="Document">
    <!--禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--禁止数字识别为手机号-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link href="../Content/style/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../Content/style/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper mylicense-wrapper">
    <!--<div class="info-box">-->
        <!--<div class="info-item border">-->
            <!--<div class="info-left">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名：</div>-->
            <!--<div class="info-right">张西西</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">驾驶证号：</div>-->
            <!--<div class="info-right">4512657984654464765</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">档案编号：</div>-->
            <!--<div class="info-right">132465132486</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">准驾车型：</div>-->
            <!--<div class="info-right">C1</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">领证日期：</div>-->
            <!--<div class="info-right">20170101</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">有效期至：</div>-->
            <!--<div class="info-right">20170101</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">证件状态：</div>-->
            <!--<div class="info-right">正常</div>-->
        <!--</div>-->

        <!--<div class="info-item border">-->
            <!--<div class="info-left">累计扣分：</div>-->
            <!--<div class="info-right">张西西</div>-->
        <!--</div>-->

        <!--<div class="save-btn">-->
            <!--<a href="__CTRL__/checklicense" ><span>重新查询</span></a>-->
        <!--</div>-->

    <!--</div>-->
</div>
<script>
    window.urlObject= {
        js: "__JS__",
        css: "__STYLE__",
        image: "__IMG__",
        json: "__JSON__",
        ctrl:'__CTRL__',
        apiUrl:'__API__',
        appid:'__WX_AppID__',
        redirectUrl:'__WX_RedirectUrl__',
    };
</script>
<script data-main="../Javascript/app/main/mylicense" src="../Javascript/libs/require.js" type="text/javascript"></script>
</body>