<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JQuery实例 - 生成年月日</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../Javascript/app/model/calender.js"></script>
</head>
<body>
<div align="center" style="margin-top:200px;">
    <form name="form1" method="post" action="">
        <select name="year">
        </select>年
        <select name="month">
        </select>月
        <select name="day">
        </select>日
    </form>
</div>
</body>
</html>